/* CSS declarations go here */
.table { display: table; } 
.table>* { display: table-row; }
.table>*>* { display: table-cell; }

.rightalign {
    position: relative;
    right: 6px;   /* must be equal to parent's right padding */
}

.gray {
  background: #f0f0f0;
}

.today {
  background: #FFC599;
}
